<!--

    Geekttrss is a RSS feed reader application on the Android Platform.

    Copyright (C) 2017-2025 by Frederic-Charles Barthelery.

    This file is part of Geekttrss.

    Geekttrss is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Geekttrss is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Geekttrss.  If not, see <http://www.gnu.org/licenses/>.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools">

    <dist:module
            dist:instant="false"
            dist:title="@string/title_manage_feeds">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.geekorum.ttrss.manage_feeds.ManageFeedsActivity"
                  android:theme="@style/AppTheme.ManageFeedsActivity"
                  android:exported="false"
                  tools:ignore="Instantiatable" />

        <activity android:name="com.geekorum.ttrss.manage_feeds.add_feed.SubscribeToFeedActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize"
                android:exported="false"
                tools:ignore="Instantiatable" />

        <activity android:name="com.geekorum.ttrss.manage_feeds.add_feed.AddFeedActivity"
                  android:label="@string/activity_add_feed_title"
                  android:theme="@style/AppTheme.AddFeedActivity"
                  android:noHistory="true"
                  android:exported="false" />
    </application>
</manifest>

